::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #E41FAE; 
    border-radius: 6px; 
    border: 1px solid #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #E41FAE; 
  }
  
  
  
  @keyframes roll1 {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    10%, 30% {
      opacity: 1;
      transform: translateY(0);
    }
    40% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  @keyframes roll2 {
    0%, 30% {
      opacity: 0;
      transform: translateY(50px);
    }
    40%, 60% {
      opacity: 1;
      transform: translateY(0);
    }
    70% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  
  @keyframes roll3 {
    0%, 60% {
      opacity: 0;
      transform: translateY(50px);
    }
    70%, 90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  
  .rotating-words {
    position: relative;
    height: 0.9em;
    display: inline-block;
  }
  
  .rotating-words p {
    position: absolute;
    width: 100%;
    opacity: 0;
    white-space: nowrap;
    color: #E41FAE;
  }
  
  .rotating-words p:nth-child(1) {
    animation: roll1 10s linear infinite;
  }
  
  .rotating-words p:nth-child(2) {
    animation: roll2 10s linear infinite;
  }
  
  .rotating-words p:nth-child(3) {
    animation: roll3 10s linear infinite;
  }
  
  .text-gradient {
    background: linear-gradient(to right, #E31FAE, #380b39);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  